/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}


.legend {
  padding-top: 6px;
  padding-bottom: 25px;
  padding-left: 2px;
  padding-right: 2px;
  color: #000033;
  background: rgb(235, 221, 221);
  border-left:5px solid #6ba5e7;
  border-right:5px solid #6ba5e7;
  border-top:5px solid #6ba5e7;
  border-bottom:5px solid #6ba5e7;
}